In [3]:
import pandas as pd
import numpy as np
import json
import mongo

ModuleNotFoundError: No module named 'mongo'

In [17]:
user['expense'] = user['expense'].str[1:].astype('float32')
user['budget'] = user['budget'].str[1:].astype('float32')
user

,role,user_id,event_id,event_name,reach,expense,budget,city,country,status,forward_ga
0,user,hcuddyg@telegraph.co.uk,62d3b99ffc13ae55b700014a,Republic Day,28202,7570.330078,5589.049805,Seattle,United States,True,True
1,user,gwehnerr6@sciencedaily.com,62d3b99ffc13ae55b700014b,Baisakhi,66508,8757.169922,8277.919922,Jember,Indonesia,True,False
2,user,hcuddyg@telegraph.co.uk,62d3b99ffc13ae55b700014c,Independence Day,1194,3010.739990,5740.959961,Sevilla,Colombia,True,False
3,user,odumbleton12@infoseek.co.jp,62d3b99ffc13ae55b700014d,Krishna Janmashtami,85467,3467.350098,8108.549805,Veracruz,Panama,True,False
4,user,oskehane@ovh.net,62d3b99ffc13ae55b700014e,Independence Day,39552,9628.019531,4283.500000,Las Matas de Farfán,Dominican Republic,True,True
...,...,...,...,...,...,...,...,...,...,...,...
495,user,eblaney14@berkeley.edu,62d3b9a1fc13ae55b7000339,Diwali,64130,1484.969971,7480.500000,Refojos,Portugal,True,True
496,user,cjanssonp@va.gov,62d3b9a1fc13ae55b700033a,Republic Day,24723,3040.320068,5267.240234,Varadero,Cuba,True,False
497,user,mmcviey@bbc.co.uk,62d3b9a1fc13ae55b700033b,Mewar Festival,50948,7249.919922,7462.000000,Pedro Leopoldo,Brazil,True,True
498,user,eblaney14@berkeley.edu,62d3b9a1fc13ae55b700033c,Raksha Bandhan,1054,4957.870117,4805.089844,Kālia,Bangladesh,True,False
499,user,ybrettel5@youku.com,62d3b9a1fc13ae55b700033d,Makar Sankranti,64790,5316.549805,4007.810059,Bentiu,South Sudan,False,True

In [18]:
user_byEmail_reach = pd.pivot_table(user, values='reach', index=['user_id'], aggfunc=np.sum)
user_byEmail_expense = pd.pivot_table(user, values='expense', index=['user_id'], aggfunc=np.sum)

In [37]:
buffer = user.groupby('user_id').sum()['expense']
buffer.to_list()

[187053.234375,
 204459.765625,
 228192.65625,
 168322.4375,
 222790.21875,
 183479.84375,
 248531.109375,
 211894.03125,
 197908.125,
 153408.453125,
 252752.015625,
 201026.234375,
 157267.8125,
 152089.21875]

In [38]:
user['expense']

0      7570.330078
1      8757.169922
2      3010.739990
3      3467.350098
4      9628.019531
          ...
495    1484.969971
496    3040.320068
497    7249.919922
498    4957.870117
499    5316.549805
Name: expense, Length: 500, dtype: float32